<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NFC_Card_Reader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--The IP Address of the SSH Client to connect to.-->
    <add key="SSH_address" value="App.IpAddress"/>

    <!--The username to connect to the SSH Client with.-->
    <add key="SSH_username" value="App.Username"/>

    <!--The script name to run on the SSH client.-->
    <add key="SSH_script" value="App.Script"/>

    <!--The prefix to run in front of the script.-->
    <add key="SSH_script_prefix" value="App.ScriptPrefix"/>

    <!--The server that will be used to check the credentials.-->
    <add key="SSH_server_url" value="App.ServerId"/>

    <!--The the door id that the card reader is for..-->
    <add key="SSH_door_id" value="App.DoorId"/>

    <!--The password to connect to the SSH Client with.-->
    <!--*This should only be used for testing, it will look here first it is empty it will use the recommended one stored in application setting.*-->
    <add key="SSH_password" value=""/>
    
  </appSettings>
  <userSettings>
    <NFC_Card_Reader.Properties.Settings>
      <setting name="SSH_password" serializeAs="String">
        <value>SettingsTemp</value>
      </setting>
    </NFC_Card_Reader.Properties.Settings>
  </userSettings>
</configuration>