<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ServerPrefix" value="http://"/> <!--Usually http://-->
    <add key="ServerAddress" value="127.0.0.1/"/> <!--If left blank will default to 127.0.0.1. Must end in '/' (Forward slash)-->
  </appSettings>
</configuration>